@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: purple;
  }
} /* Let's apply the animation to the text */
.animating-text {
  animation: color-change 0.5s infinite;
}

@font-face {
  font-family: 'Terminess';
  src: url('./terminess_mono.ttf');
}
